.hotelList {
  width: 60%
}

.cardInfoBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: -webkit-fill-available; 
}

.cardBookBox {
  align-self: center;
  margin-left: auto;
  margin-right: 0;
  width: 280px;
}

.cardDivider {
  margin-left: auto;
  margin-right: 0;
}

div.vspace1em {
  clear: both;
  height: 1em;
}

.cardBookBox{
  text-align: center;
}