.hotelList {
  width: 80%
}

.selectionOption {
  text-align: right;
  padding-bottom: 10px;
}

.dropdownMainDisplay {
  width: 170px;
}

.dropdownPopper {
  z-index: 9999;
  /* border-color: grey;
  border: outset; */
}